body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

header {
  display: flex;
  max-width: 1440px;
  padding: 10px 120px 10px 120px;
  color: #3a5f56;
}

.header_name {
  font-family: "Source Serif Pro", sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 600;
}

.header_nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav_item {
  padding: 8px 10px 12px 10px;
}

.nav_item:hover,
.nav_item:focus {
  border-bottom: 2px solid #3a5f56;
}

.main_header {
  display: flex;
  gap: 64px;
  align-items: center;
  height: 973px;
  padding: 100px 136px;
  margin: 0;
  background: radial-gradient(
      400px circle at 85% 15%,
      rgba(134, 122, 145, 0.849) 0%,
      rgba(58, 95, 86, 0) 100%
    ),
    radial-gradient(
      400px circle at bottom left,
      #b87d58 0%,
      rgba(184, 125, 88, 0) 100%
    );
  background-repeat: no-repeat;
}

.main_header_intro {
  width: 552px;
  height: 298px;
}

.main_header_header {
  display: flex;
  font-family: "Source Serif Pro", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #3a5f56;
}

.main_header_text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #292c32;
  margin-top: 11px;
}

.read_more {
  width: 118px;
  height: 44px;
  border-radius: 6px;
  margin-top: 17px;
  color: #ffffff;
  background: #3a5f56;
  border: none;
}

.read_more:hover {
  background: rgb(134, 122, 145, 0.849);
}

.main_header_image {
  width: 552px;
  height: 773px;
}

.main_header_image img {
  object-fit: cover;
  border-radius: 24px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}
